body {  
    font-family: 'Arial', sans-serif;  
    background-color: #f8f9fa;  
}  


.header {  
    display: flex;  
    align-items: center; /* Aligne l'image et le texte verticalement */  
    background-color: #fff;  
    padding: 20px;  
    border-bottom: 2px solid #ddd;  
}  

.profile-photo {  
    margin-right: 20px; /* Espace entre l'image et les informations */  
    border: 5px solid #800080; /* Couleur mauve */  
    border-radius: 50%; /* Pour rendre la bordure circulaire */  
    display: inline-block; /* Pour s'assurer que la bordure entoure correctement l'image */  
    padding: 5px; /* Espace entre l'image et la bordure */  

}  

.profile-photo img {  
    border-radius: 50%;  
    width: 150px; /* Taille de l'image */  
    height: 150px; /* Taille de l'image */  
    object-fit: cover; /* Pour maintenir le ratio de l'image */  
}  

.profile-info {  
    flex-grow: 1; /* Permet d'utiliser tout l'espace restant */  
    text-align: center; /* Centre le texte à l'intérieur */  
}  

.contact-info p {  
    margin: 4px 0; /* Réduit les marges pour un affichage plus compact */  
}
.contact-info i {  
    color: #800080; /* Couleur mauve pour les icônes */  
    margin-right: 8px; /* Espace entre l'icône et le texte */  
    vertical-align: middle; /* Aligne verticalement l'icône avec le texte */  
}

.profile-info h1 {  
    font-size: 2.5rem;  
    font-weight: bold;  
    color:black;  
}  

.profile-info .job-title {  
    font-size: 1.2rem;  
    color: #777;  
    margin-bottom: 10px;  
}  
 

.contact-info a {  
    color: #007bff;  
    text-decoration: none;  
}  

.contact-info a:hover {  
    text-decoration: underline;  
}  

h2, h3, h4 {  
    color:black;
}  

p, ul {  
    color:black;  
}  

ul {  
    padding-left: 0;  
    list-style: none; /* Retire les puces */  
}  

ul li {  
    margin-bottom: 10px;  
}  

.bg-light {  
    background-color: #f7f7f7 !important;  
    padding: 20px;  
    border-radius: 8px;  
}  

hr {  
    border: 1px solid #e9ecef;  
}  

.container {  
    margin-top: 30px;  
}  

.text-muted {  
    font-size: 14px;  
}  

h4 {  
    margin-top: 20px; /* Ajoutez un espace au-dessus des titres des sections */  
}  

ul li a {  
    color: #007bff;  
    text-decoration: none;  
}  

ul li a:hover {  
    text-decoration: underline;  
}

.noir {  
    color: black; /* Définit la couleur en noir */  
}